.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


main{
  margin: 55PX 0;
  padding:0 110px;
}
main section{
  margin-top: 80px;
  margin-bottom: 80px;
}
/* shared style */
.btn{
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  border-radius: 6px;
  border: none ;
  padding: 10px 14px;
}
.card-1{
  background-color:rgba(84, 144, 245, 0.2);
}
.card-2{
  background-color: #C6E4D6;
}
.card-3{
  background-color: #F7EBCF;
}
.card-1btn{
  background-color:#5490F5 ;
}
.card-2btn{
  background-color: #09A15C;
}
.card-3btn{
  background-color:#FFC239 ;
}

/* main style */
.hero{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 45px;
  padding: 55px 70px 55px 70px;
  border-radius: 17px;
  background: rgb(198, 228, 214);
}
.cover-tittle{
  color: rgba(14, 14, 14, 0.5);
  font-size: 17px;
  font-weight: 500;
  gap: 11px; 
}
.cover-describtion{
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}
.cover-btn{
  gap: 17px;
  padding: 10px 21px 10px 21px;
  background: rgb(0, 106, 80);
}
.img{
  width: 330px;
  height: 280px;
}
/*card style  */
.vision-tittle{
  font-size: 29px;
  font-weight: bold;
  gap:17px;
  color: rgba(14, 14, 14, 1.00);
}
.vision-describtion{
  font-size: 12px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.70);
  gap: 17px;
}
.cards{
  display: flex;
  gap: 17px;  
}
.card{
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}
.card-img{
  width: 44px;
  height: 44px;
}
.carg-tittle{
  font-weight: bold;
  font-size: 14px;
  color: rgba(14, 14, 14, 0.8);
}
.card-descrition{
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color:rgba(14, 14, 14, 0.7);
  
}
.advisor{
  background-image:  url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position-x: 34px;
  background-position-y: 15px;
  background-size: 45px 45px ;
  border-radius: 10px;
  box-shadow:0px 2px 4px 2px  rgba(0, 0, 0, 0.25);
  padding: 17px 34px;
  margin-top: 17px;
}
.advisor-decribtion{
  font-weight: 400;
  font-size: 12px;
  color: #0E0E0E;
}
.advisor-name{
  font-weight: 600;
  font-size: 12px;
}
.advisor-tittle{
  font-weight: 400;
  font-size: 12px;
  color: #0E0E0E;
}
 /* News style */
.news-tille{
  font-size: 28px;
  font-weight: bold;
  color:#0E0E0E;
}
/* satelite style  */
.satelite{
  display: flex;
  gap: 22px;
  margin-bottom: 17px;
}
.satelite-img{
  width: 290px;
  height: 215px;
  border-radius: 17px;
}
.satelite-tittle{
  font-size: 22px;
  font-weight: bold;
  color:#0E0E0E;
}
.satelite-titgtle-img{
  width: 100px;
  height: 28px;
  gap: 8px;
}
.satelite-banner{
  padding: 34px;
  border-radius: 17px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25); 
}
.reverse-satelite{
  display: flex;
 flex-direction: row-reverse;
}
/* donate today */
.donate-section{
  text-align: center
}
.donate-describtion{
  margin: 0 105px;
}

.donate-cards{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
 border-radius: 10px;
  gap: 34px;
  
  
}
.donate-card{
  padding: 29px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25); 
  border-radius: 8px;
}
.down-amount{
  display: flex;
  flex-direction: column;
}
.amount-tk{
  padding: 14px 28px;
  margin: 0 145px;
  margin-bottom: 22px;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}
.donate-btn{
  margin: 0 510px;
}
/* email submit style  */
.submit{
  text-align: center;
  padding: 64px 185px;
  border-radius: 17px;
  
}
.submit-padding{
  width: 440px;
  height: 34px;
  line-height: 17px;
  margin: 15px 150px;  
}
.submit-email{
  width: 430px;
  padding: 10px 25px;
  border: none ;
  border-radius: 8px 0px 0px 8px;

}
.sub{
  display: flex;
  margin: 0 130px;
  
}
.sub-btn{
  color: rgb(255, 255, 255);
  background-color: #09A15C;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  border: none ;
  padding: 10px 14px;
  border-radius: 0px 6px 6px 0px;
}




